
.movie-items .movie-item {
    max-width: 200px;
    max-height: 250px;
}

.slider-single-item {
    position: relative;
}

svg#slideLeft {
    position: absolute;
    left: -65px;
    top: 25%;
    cursor: pointer;
}

svg#slideRight {
    position: absolute;
    top: 25%;
    right: -65px;
    cursor: pointer;
}

img.slideImage {
    max-width: 270px;
    max-height: 470px;
}

.cat {
    font-family: 'Dosis', sans-serif;
    background: green;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
}