body{
    background: linear-gradient(335deg, rgba(255,140,107,1) 0%, rgba(255,228,168,1) 100%);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.flex-column {
    max-width: 260px;
}

img {
    margin: 10px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}